  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: darkviolet;
}

div{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 25px;
}

img{
    width: 200px;
}

p{
    width: 100%;
    height: 150px;
    padding: 25px;
    text-align: center;
 font-size: 1.5rem;
 color: white;
 font-weight: 800;
 margin-bottom: 25px;
}

button{
    padding: 15px 35px 15px 35px;
    border-radius: 60px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1.1rem;
}

button:nth-child(4){
    background-color: orange;
    
}

button:nth-child(5){
    background-color: rgb(210, 210, 14);
}

.juli{
    font-size: 15px;
}

.juli a{
    color: yellow;
}